body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}
.linkSignIn {
    margin-left:700px;
    color:#fff;
    font-weight:100;
}
.linkSignUp {
    margin-left:20px;
    color:#fff;
    font-weight:100;
}

.linkBox {
    margin-top:20px;
    background-color:#949699;
}

.linkBox2{
    background-color:#949699;
    color:#fff;
    font-weight:100;
    margin-right:20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


